<h2>Cotillona de Jonéame</h2>

<h3>¿Qué es la cotillona?</h3>
<p>La cotillona muestra todo lo que pasa en Jonéame en tiempo real.
    Puedes ver los votos, notitas, comentarios, o historias enviadas en el momento.
    Además, si eres usuario registrado, puedes utilizarlo para chatear con los demás usuarios o pedir ayuda a algún administrador.</p>

<h3>¿Qué es la pestaña amigos?</h3>
<p>La pestaña amigos se utiliza para que sólo aquellas personas que tú hayas seleccionado como amigos lean lo que escribes en la cotillona.
    Para hablar por la pestaña amigos basta que añadas el símbolo arroba (@) al comienzo de la frase.
    Diferenciarás la pestaña amigos de la pestaña todos por el color verde clarito.</p>

<h3>Dices que usando la cotillona puedo contactar con un administrador, ¿cómo lo hago?</h3>
<p>Basta que saludes y preguntes por un administrador para que alguno te atienda. Si no hay ninguno en ese momento,
    puedes poner una notita o enviarnos un email. También es posible que cualquier otro usuario pueda ayudarte.</p>

<h3>¿Cómo veo quién está conectado a la cotillona?</h3>
<p>Escribe <em>!usuarios</em> y pulsa <em>Enviar</em>. Pero eso no indica que dicho usuario esté atento,
    sólo que está conectado. Es posible que esté lurkeando.</p>

<h3>¿Qué es lurkear?</h3>
<p>Lurkear es lo que hacen los lurkers. Los lurkers son esas personas que están leyendo la cotillona pero no participan en la conversación.</p>
