<h2>Información legal bajo el dominio joneame.net</h2>

<h3>Sobre los datos de los usuarios (LOPD)</h3>
<p>El titular podrá ejercitar (si lo desea) los derechos reconocidos en la LOPD sobre este fichero,
    siempre y cuando se trate de información PRIVADA. Los usuarios pueden realizar estas acciones
    enviando una solicitud a admin&#64;joneame&#46;net.</p>
<p>El propio usuario podrá dar de baja su cuenta de usuario desde el sitio web en el momento que así lo desee,
    sin necesidad de enviar ningún email a la administración.</p>
<p>Las empresas que llevan las estadísticas de acceso a joneame.net (Google), podrían usar
    <em>cookies</em> con fines estadísticos. Los usuarios pueden eliminarlos o impedir el envío de esas
    <em>cookies</em> desde las opciones de su navegador.</p>

<h3>Información pública y privada</h3>
<p>Los ficheros de joneame.net contienen:</p>
<p><strong>Información privada:</strong> IP utilizada para cualquier actividad en joneame.net <em>(votos, encuestas, historias o comentarios)</em>.
    <em>Los gestores de joneame.net</em> conservan estos datos con el objetivo de mantener la coherencia de toda la actividad realizada en el sitio.</p>
<p><strong>Información pública: </strong> Toda actividad (anteriormente descrita) realizada voluntariamente por el propio usuario en el sitio web.</p>

<h3>Sobre la información privada</h3>
<p>joneame.net elimina la IP de todos los votos pasados 2 meses de la emisión del mismo, y,
    si se diera el caso de la deshabilitación de una cuenta de usuario
    <em>(por el propio usuario, o por incumplir las normas de uso)</em>,
    su email de registro será eliminado, pasados 2 meses de la deshabilitación de la cuenta.</p>
<p>En el caso de la IP de comentarios o historias, se mantiene (y no será eliminada)
    por si fuera necesaria en un futuro, y se entregará, o borrará, sólo si un juez así lo requiere.</p>

<h3>Exclusión de garantías y responsabilidad</h3>
<p><em>Los administradores y propietarios de joneame.net</em> no garantizan la licitud, fiabilidad,
    exactitud, exhaustividad, actualidad y utilidad de los contenidos.</p>
<p>El establecimiento de un hiperenlace, enlace, intercambio, no implica en ningún caso la existencia de relaciones entre
    <em>los administradores de joneame.net</em> y el propietario del lugar web con la que se establezca,
    ni la aceptación y aprobación de sus contenidos o servicios.</p>
<p><em>Los administradores de joneame.net</em> excluyen toda responsabilidad en los sitios enlazados desde esta web
    y no pueden controlar y no controlan que entre ellos aparezcan sitios de Internet cuyos contenidos puedan resultar
    ilícitos, ilegales, contrarios a la moral o a las buenas costumbres o inapropiados.
    El usuario, por tanto, debe extremar la prudencia en la valoración y utilización de la
    información, contenidos y servicios existentes en los sitios enlazados.</p>
<p><em>Los administradores de joneame.net</em> excluyen toda responsabilidad por las noticias e informaciones publicadas por los usuarios,
    terceros y de las mismas serán responsables los usuarios o terceros de quienes procedan.</p>

<a name="contacto"></a>
<h3>Contacto</h3>
<p><strong>Contacto por correo electrónico:</strong> ad<em></em>min&#64;jon<strong></strong>eame&#46;ne<strong></strong>t</p>
