<h2>Condiciones de uso de Jonéame</h2>

<h3>Envío de enlaces</h3>
<p>Toda noticia debe reflejar, aunque sólo sea parcialmente, el contenido del enlace.</p>
<p>Las etiquetas de las historias deberán ser las correctas para facilitar su posterior búsqueda por los demás mafiosos.</p>
<p>Las historias con contenido pornográfico (NSFW) y para adultos (+18) deberán ser marcadas como tal en el momento de su envío.
    Asimismo, las noticias que no lo precisen no se marcarán como tal, para poder diferenciar
    las que realmente contengan contenido pornográfico de las que no.</p>
<p>El usuario se abstendrá de escribir y enviar enlaces difamatorios, racistas, obscenos, ofensivos,
    que promuevan el odio racial étnico o religioso, de violencia explícita o incitación a la violencia,
    que afecten a la privacidad y/o derechos de la infancia.</p>

<h3>Ilegalidad</h3>
<p>El usuario se abstendrá de utilizar cualquiera de los servicios ofrecidos en joneame.net con fines o efectos ilícitos,
    lesivos de los derechos e intereses de terceros, o que puedan dañar, inutilizar, sobrecargar, deteriorar
    o impedir la normal utilización de los servicios, los equipos informáticos o los documentos, archivos y cualquier contenido
    almacenado en joneame.net o servidores externos enlazados desde joneame.net.</p>

<h3>Cuentas de usuario</h3>
<p>El usuario se abstendrá de usar Jonéame con el objetivo de:</p>
<ol>
    <li>La promoción exclusiva de un sitio web, empresas, redes de blogs o de afiliación de enlaces (spam)
    <li>Las campañas comerciales (aunque el lugar promocionado no contenga publicidad directa), políticas o ideológicas
        promoviendo el voto masivo a las noticias objeto de la campaña o del lugar promocionado.
    <li>La provocación gratuita o molestia injustificada a los demás usuarios y lectores de Jonéame.
</ol>
<p>El usuario se abstendrá de crear múltiples cuentas con el fin de promocionar sitios webs, participar en discusiones
    simulando las opiniones de personas distintas (astroturfing), suplantar la identidad de otras personas o intentar
    alterar artificialmente los contadores de votos y carisma y crear múltiples usuarios con el único objetivo
    de eludir las restricciones y penalizaciones generales del sistema.</p>

<h3>Convivencia en la comunidad</h3>
<p>El usuario se abstendrá de acosar, amenazar y obtener o divulgar información privada de otros usuarios de Jonéame.
    Esto es aplicable también en el uso de mensajes privados.</p>
<p>El usuario se abstendrá de usar cualquier titular, entradilla, notita o comentario refiriéndose a un usuario
    de forma ofensiva o difamatoria con una obvia intención de molestarle.</p>

<h3>Incumplimiento de las mismas</h3>
<p>El incumplimiento de las condiciones de uso podría significar el bloqueo de la cuenta de usuario y/o dominio web,
    el borrado y/o edición del texto ofensivo, y las medidas legales adecuadas según las leyes españolas y europeas.</p>
<p><strong>AVISO: Con el objetivo de mejorar el servicio y minimizar los problemas, se reserva el derecho a modificar
    y actualizar las condiciones de uso sin previo aviso. Es obligación del usuario el mantenerse informado de los cambios.</strong></p>
