<h2>Mensajería privada</h2>

<h3>¿Qué son los mensajes privados?</h3>
<p>Los mensajes privados son la única forma privada para contactar con algún usuario de la web.</p>

<h3>¿Cómo hago para enviar un mensaje privado?</h3>
<p>Para enviar un mensaje privado a un usuario, ve a su perfil y haz clic en el sobre al lado de su corazoncito.</p>

<h3>¿Y para ver mi bandeja de entrada?</h3>
<p>Puedes encontrar tu bandeja de entrada desde tu perfil o desde el sobre en la cabecera de todas las páginas de la web.</p>

<h3>Recibo un email cada vez que me envían un mensaje privado y no quiero, ¿cómo lo desactivo?</h3>
<p>Es fácil. Ve a la configuración de tus mensajes privados y desactiva la opción para no recibir emails.</p>

<h3>¿Quién puede enviarme mensajes privados?</h3>
<p>Por defecto todos los usuarios registrados pueden hacerlo, pero es configurable.
    Ve a la configuración y selecciona quién puede hacerlo, si todos, sólo tus amigos, o nadie.</p>
